:global * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
:global body {
    background: linear-gradient(to right, #8E54E9 50%, #4776E6 100%); 
}
:global *:focus {
    outline: none;
}
.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}