.formContainer {
    border: 2px solid white;
    width: 350px;
    padding: 15px 20px 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
}
.formHeader {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 1.7rem;
    border-bottom: 2px solid white;
}
.formLabel {
    display: block;
    margin: 10px 0 3px 0;
    font-size: 1.05rem;
}
.formInput {
    display: block;
    width: 100%;
    padding: 10px 7px;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 1rem;
}
.formError {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding:  3px 5px;
    width: fit-content;
    border-radius: 2px;
    margin: 5px auto;
    font-size: 0.9rem;
}
.formButton {
    padding: 8px 20px;
    display: block;
    margin: 15px auto 5px auto;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 1.05rem;
    background-color: transparent;
    color: white;
    font-weight: 600;
}
.formButton:hover {
    background-color: white;
    color: #7C5DE8;
    cursor: pointer;
}