.formContainer {
    border: 2px solid white;
    width: 335px;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.formHeader {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 1.7rem;
    border-bottom: 2px solid white;
    font-weight: 600;
}
.formIcon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(273deg) brightness(110%) contrast(102%);
    vertical-align: middle;
}
.formLabel {
    display: block;
    margin: 10px 0 3px 0;
    font-size: 1.05rem;
}
.formInput {
    display: block;
    width: 100%;
    padding: 10px 7px;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 1rem;
}
.formError {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 3px 5px;
    width: fit-content;
    border-radius: 2px;
    margin: 5px auto;
    font-size: 0.9rem;
}
.formButton {
    padding: 8px 20px;
    display: block;
    margin: 15px auto 0 auto;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 1.05rem;
    background-color: transparent;
    color: white;
    font-weight: 600;
}
.formButton:hover {
    background-color: white;
    color: #7C5DE8;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .formContainer {
        width: 320px;
        padding: 10px 15px;
    }
    .formHeader {
        font-size: 1.4rem;
    }
    .formLabel {
        font-size: 0.95rem;
    }
    .formInput {
        font-size: 0.95rem;
        padding: 7px;
    }
    .formError {
        font-size: 0.85rem;
    }
    .formButton {
        margin-top: 10px;
        font-size: 1rem;
    }
}
@media (max-width: 800px) {
    .formContainer {
        width: 300px;
    }
    .formHeader {
        font-size: 1.2rem;
    }
    .formLabel, .formInput {
        font-size: 0.9rem;
    }
    .formButton {
        font-size: 0.95rem;
    }
    .formError {
        font-size: 0.8rem;
        padding: 2px 4px;
    }
}
@media (max-width: 500px) {
    .formContainer {
        width: 80vw;
        max-width: 300px;
    }
    .formHeader {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .formLabel {
        font-size: 0.85rem;
    }
    .formInput {
        padding: 6px;
    }
    .formButton {
        font-size: 0.9rem;
    }
}