.otherForm {
    position: absolute;
    right: 50px;
    top: 40px;
    padding: 5px 10px;
    border: 1px ridge black;
    border-radius: 5px;
}
.otherForm:hover {
    background-color: gray;
}
.backBtn {
    position: absolute;
    left: 50px;
    top: 40px;
    padding: 5px 10px;
    border: 1px ridge black;
    border-radius: 5px;
}
.backBtn:hover {
    background-color: gray;
}
.formContainer {
    border: 1px ridge black;
    width: 400px;
    margin: 0 auto;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.formHeader {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 1.7rem;
    border-bottom: 1px ridge black;
}
.formLabel {
    display: block;
    margin: 10px 0 3px 0;
    font-size: 1.05rem;
}
.formInput {
    display: block;
    width: 100%;
    padding: 10px 7px;
    border-radius: 3px;
    border: 1px ridge black;
    font-size: 1rem;
}
.formError {
    background-color: rgba(255, 0, 0, 0.75);
    color: white;
    padding:  3px 5px;
    width: fit-content;
    border-radius: 2px;
    margin: 10px auto;
    font-size: 0.9rem;
}
.formButton {
    padding: 5px 20px;
    display: block;
    margin: 10px auto 5px auto;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 1.05rem;
}
.formButton:hover {
    background-color: gray;
}
.formMsg {
    text-align: center;
}